{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="navigation">
<ul class="banner">
  <a class="navigation-link" href="{% url 'home' %}">
        Like Lion
      </a>
</ul>
  <ul class="list-container">
    <li>
      <a class="navigation-link" href="{% url 'home' %}">
        홈
      </a>
    </li>
    <li>
      <a class="navigation-link" >
        Blog
      </a>
    </li>
    <li>
      <a class="navigation-link" >
        수료증
      </a>
    </li>
  </ul>
</div>

<div class="posts_container">
<div class="container">
  <h1>{{ blog.title }}</h1>
  <p>{{ blog.pub_date }}</p>
  <p>{{ blog.body }}</p>
</div>
</div>